<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/585299ccc9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../../registration/templates/css/main.css">
</head>
<body>

<!--- source: https://getbootstrap.com/docs/3.4/components/#nav--->
<header>
    <!---
  <nav id="menu" role="navigation">
    <ul class="nav nav-tabs">
      <li role="presentation" class="li"><a href="">Market</a></li>
      <li role="presentation" class="li"><a href="">Inventory</a></li>
      <li role="presentation" class="li"><a href="">Profile Information</a></li>
    </ul>
  </nav>
  --->
</header>


<!-- put back ground page later
<div id="background">
  <img src="/img" class="stretch" alt="backgroundImage"/>
</div>
-->




    <div class="container">
      <div class="signup-Container">
          <div class="row">
            <div class="col-md-15">
              <div class="row">
                <div class="col-md-10 reg-left col-xl-12">
                  <h1> Sign up</h1>

                  <div class="reg-form">
                    <!--- form --->
                  <form action="login.html" id="form" method="POST">

                      {%  csrf_token %}
                    <div class="form-group">
                      <input type="text" name="firstName" class="form-control" placeholder="First Name" required>
                      </div>

                    <div class="form-group">
                      <input type="text" name ="lastName" class="form-control" placeholder="Last Name" required>
                      </div>

                    <div class="form-group" id = "email">
                      <input type="text" name="email" class="form-control" placeholder="Email" required>
                    </div>

                    <div class="form-group">
                      <input type="password"  name="password" id="password" class="form-control" placeholder="Password" required>
                      </div>


                    <div class="form-group">
                      <input type="password" name="repassword" id="reEnterPassword" class="form-control" placeholder="Re-Enter-Password">
                    </div>

                      <!---<input type="sumbit" id="sumbit" value="Sign up"/>--->
                      <button type="sumbit" class="form-control">Sumbit</button>

                  </form><!--end form-->

                  </div>
                </div>
              </div>
          </div>
        </div>




        </div>
      </div>
    </div>
</section>

  </div>
</body>
</html>
